body{
	background-color: #2A2A2A;
}

.all{
	padding-top: 	0%
}

.main{
  text-align: center;
}

.maintext{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80px;
  margin: 0 auto;
}

.topnav{
	text-align:center;
}

.middletext{
	color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  margin: 0 auto;
}

.generator{
	text-align:center;
}

.mat{
	color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100px;
  margin: 0 auto;
}

.generatebutton {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:50px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.generatebutton:hover {
	background-color:#eb675e;
}
.generatebutton:active {
	position:relative;
	top:1px;
}

.inn{
	color: white;
	font-size: 100px;
}

        